section.hero {
  width: 100%;
  min-height: 100vh;
  background-color: var(--shape-background);
  background-image: url(..//assets/images/hero-background.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
  padding: 2rem 8rem;
  justify-content: space-between;
}

button.assign {
  all: unset;
  color: var(--text-title);
  font: var(--button);
  text-align: center;
  cursor: pointer;
  border: none;
  width: 5.5rem;
  height: 2.5rem;
  border-radius: .5rem;
  background-color: var(--pink-dark);
}

button.assign:hover {
  background-color: var(--pink-base);
}

.title {
  text-align: center;
  width: 41rem;
  height: 12.5rem;
  justify-self: center;
  margin-top: 10rem;
}

.title h1 {
  font: var(--title-lg);
  color: var(--text-title);
  margin-bottom: 2rem;
}

.title p {
  font: var(--body-lg);
  color: var(--text-body);
}


@media (max-width: 760px) {
section.hero {
  background-size: cover; /* Ajusta para cobrir a tela em dispositivos menores */
  background-position: center;
}

 .header {
  padding: 2rem;
 }

 .title {
  width: 100%;
 }

 .title h1 {
  font: var(--body-lg);
  color: var(--text-title);
 }

 .title p {
  font: var(--body-sm);
  color: var(--text-body);
}
}



