.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: var(--shape-background);
}

.lbook {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.bodytext {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.bodytext h2 {
  color: var(--text-label);
  font: var(--subtitle);
}

.bodytext h2:hover {
  color: var(--text-title);
  & span {
    color: var(--blue-light);
  }
}

.twoicons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; 
}

.lbook img,
.twoicons img {
  opacity: 0;
  transform: scale(0.8); 
  animation: fadeInUp 1.5s ease forwards;
  animation-delay: 0.5s;
  transition: transform 0.3s ease;
}

.lbook img:hover,
.twoicons img:hover {
  transform: rotate(25deg);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(50px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0) hover;
  }
}





